 <section class="home" id="home">
  <div class="container-fluid">
    <div class="row align-items-center">
      
      <div class="col-12 col-md-6 order-2 order-md-1">
        <div class="home-content">
          <h1>Hi, I'm <span>[AFAN ALI]</span></h1>
          <div class="text-animate">
            <h3>Web Developer</h3>
          </div>
          <p>I am a passionate and dedicated Web Developer with experience in building responsive web applications using Angular, Bootstrap, and Node.js. I love turning complex problems into beautiful and robust digital solutions.</p>

          <div class="btn-box">
            <a href="#contact" class="btn">Hire Me</a>
            <a href="#contact" class="btn btn-outline">Let's Talk</a>
          </div>

          <div class="home-sci">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 order-1 order-md-2 text-center mb-4 mb-md-0">
        <div class="home-img d-flex justify-content-center">
          <div class="glowing-circle">
            </div>
        </div>
      </div>

    </div>
  </div>
</section>